body {
	background-color: white;
    color: #4a114a;

    font-family: 'helvetica', serif;
    font-size: 15px;
    font-weight: lighter;

}

h1, h2, h3 {
	font-family: 'lora', serif;
	width: 700px;
    
}
 h1{
	color:#d86167;
	font-size: 29px;
	font-weight: 900;
   
    letter-spacing: 5px;
    text-transform: uppercase;
   
}
h2{
	color: #114B5F;
   
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #9998ec; 
    font-weight: 600;
}
a:hover{
	color: #FE5F55;
}


/*custom design*/
.container {
    width: 700px;
    margin: 40px auto;
    text-align: center;
}

	
.card-white {
    background-color: white;
    padding: 40px 10px;
    box-shadow: 0px 10px 30px rgba(10,10,10,0.2) ;
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}


.img-circle {
    border-radius: 50%;
}

.btn-blue {
    background-color: grey;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px grey; 
}

.btn-blue:hover {
    background-color: #FE5F55;
    color: white;
}
.list-inline{
 list-style: none;
 padding-left: 0px;
}

.list-inline li {
 display: inline;
 padding: 10px;
}

.list-inline i {
 font-size: 45px;
 color: #9998ec;
}

.list-inline i:hover {
	color:#FE5F55;
}

#introduction p{
 margin-bottom: 50px;
}

/*changing size of screen(responsive)*/

@media (max-width: 760px) {
    .container {
  	  width: 600px;	
  	}
} 

@media (max-width: 400px) {
    .container {
  	  width: 200px;	
  	}
} 